@{
    ViewData["Title"] = "Booking";
}
<div class="booki">
	<div class="container fahrzeuginfo">
		<div class="attributes">
			<div class="container row">
				<div class="carattribute">
					<mark class="tabellenueberschrift">Anbieter</mark> <br> @Model.Vehicle.Firm
				</div>
				<div id="category" class="carattribute">
					<mark class="tabellenueberschrift">Kategorie</mark> <br> @(Model.Vehicle.Category == 1 ? "Leih" : "Sharing") - Fahrzeug
				</div>
			</div>
			<div class="container row">
				<div class="carattribute">
					<mark class="tabellenueberschrift">Automarke</mark> <br> @Model.Vehicle.Brand
				</div>
				<div class="carattribute">
					<mark class="tabellenueberschrift">Modell</mark> <br> @Model.Vehicle.Model
				</div>
				<div class="carattribute">
					<mark class="tabellenueberschrift">Farbe</mark> <br> @Model.Vehicle.Color
				</div>
			</div>
		</div>
						
		<div>
			<img src="@Model.Vehicle.PathToImg" alt="vehicle" width="120" height="120"/>
			<p><mark class="tabellenueberschrift">Kennzeichen:</mark> <br> @Model.Vehicle.Plate</p>
		</div>
	</div>

	<br />

	<div class="conatainer fahrzeuginfo">
		<script src="~/js/preisberechnung.js"></script>
		<form onchange="inputchange('@Model.Vehicle.BasicPrice', '@Model.Vehicle.PriceHD', '@Model.Vehicle.PriceInsu')" method="POST" action="/booking/@(Model.Vehicle.VehicleId)/bookingaction">
			<div>
				<span class="booking lable">Basispreis:</span>
				&nbsp; @String.Format("{0:0.00}", Model.Vehicle.BasicPrice) &euro;<br /><br />

				<span class="booking lable">Pick-Up-Datum: </span> &nbsp;

				@if(Model.Vehicle.Category == 1){
					<input name="DateTimePickUp" id="pickupdate" class="dateinput" type="date"/> <br /><br />
				} else {
					<input name="DateTimePickUp" id="pickupdate" class="dateinput" type="datetime-local"/> <br /><br />
				}


				<span class="booking lable">R&uuml;ckgabedatum: </span> &nbsp;
			
				@if(Model.Vehicle.Category == 1){
					<input name="DateTimeReturn" id="returndate" class="dateinput" type="date" /> <br /><br />
				} else {
					<input name="DateTimeReturn" id="returndate" class="dateinput" type="datetime-local"/> <br /><br />
				}
			</div>

			<div class="flex">
				<span class="booking lable">Zusatzbuchungen: </span> &nbsp;
			
				<div>
					<input name="versicherung" id="vollkasko" onchange="checkinsurance($('#teilkasko'))" class="" type="checkbox" />
					Vollkasko
					<input name="versicherung" id="teilkasko" onchange="checkinsurance($('#vollkasko'))" class="" type="checkbox" />
					Teilkasko<br />
					<span class="booking hinweis">(Vollkasko: Abh&auml;ngig vom gew&auml;hlten Fahrzeug)</span><br />
					<span class="booking hinweis">(Teilkasko: 50&euro; mit 500&euro; Selbstbeteiligung)</span><br /><br />
			
					<input name="refuel" id="refuel" class="" type="checkbox" /> 
					Refuel-Option<br />
					<span class="booking hinweis">(Refuel: 35&euro;)</span><br />
					<input name="optAdd" id="optAdd" value="0" type="hidden" />
				</div>
			</div>

			<div class="flex">
				<span class="booking lable">Gesamtpreis:</span> &nbsp;
			
				<div id="gesamtpreis">@String.Format("{0:0.00}", Model.Vehicle.BasicPrice + Model.Vehicle.PriceHD)</div> &nbsp;&euro;
			</div> <br />

			<input type="submit" class="sendbutton" value="Buchen"/>
		</form>
	</div>
</div>