@{
    ViewData["Title"] = "Fahrzeuge";
}
<h1 class="home">Diese Fahrzeuge stehen zur Auswahl</h1>
<div class="overview-grid">

    <div class="filter" id="filterForm">
        <h2>Filter</h2>
        <label for="searchFilter">Suche</label>
        <br />
        <input name="searchFilter" id="searchFilter" data-form="pageswitch" type="text" />
        <br />

        <label for="categoryFilter">Kategorie</label>
        <br>
        <select name="categoryFilter" id="categoryFilter" data-form="pageswitch">
            <option value="">-</option>
            <option value="1">Leihe</option>
            <option value="2">Sharing</option>
        </select>
        <br>

        <label for="brandFilter">Marke</label>
        <br>
        <select name="brandFilter" id="brandFilter" data-form="pageswitch">
            <option value="">-</option>
            @foreach (var brand in Model.BrandFilterList) {
                <option value="@brand">@brand</option>
            }
        </select>
        <br>

        <label for="modelFilter">Modell</label>
        <br>
        <select name="modelFilter" id="modelFilter" data-form="pageswitch">
            <option value="">-</option>
            @foreach (var m in Model.ModelFilterList) {
                <option value="@m">@m</option>
            }
        </select>
        <br>

        <label for="typeFilter">Typ</label>
        <br>
        <select name="typeFilter" id="typeFilter" data-form="pageswitch">
            <option value="">-</option>
            <option value="1">Auto</option>
            <option value="2">Fahrrad</option>
            <option value="3">Scooter</option>
            <option value="4">Bus</option>
            <option value="5">LKW</option>
            <option value="6">Panzer</option>
        </select>
        <br>

        <label for="minPriceFilter">Min. Preis</label>
        <br />
        <input name="minPriceFilter" id="minPriceFilter" type="range" step="1" max="2000" value="0" oninput="minOutput.value = minPriceFilter.value" data-form="pageswitch"/>
        <output id="minOutput">0</output>&euro;
        <br>

        <label for="maxPriceFilter">Max. Preis</label>
        <br />
        <input name="maxPriceFilter" id="maxPriceFilter" type="range" step="1" max="160000"  value="160000" oninput="maxOutput.value = maxPriceFilter.value" data-form="pageswitch" />
        <output id="maxOutput">160000</output>&euro;
    </div>

    <div class="prod">
        <div id="listVehicles">
            <!-- Gets generated via API Controller and Partial view : Views/Api/_overviewList.cshtml -->
        </div>
    </div>
    
    <script>
        let apiUrl = '@Url.Action("GetVehicleListView", "Api")';
    </script>
    <script src="~/js/overviewList.js"></script>
</div>

<form id="pageswitch" class="pageswitch" method="get">
    <input name="page" id="page" type="hidden" value=""/>
    <input id="prevPageBtn" class="pageswitch" onclick="switchPage(-1)" type="button" value="< Zur&uuml;ck" />
    &nbsp;
    <input id="nextPageBtn" class="pageswitch" onclick="switchPage(1)" type="button" value="Weiter >" />
</form>
<p id="pageDisplay">Seite 1 von </p>