@{
    ViewData["Title"] = "Bewertung";
}
<section id ="rating">
    <br />
    <span class="heading">Kundenbewertungen</span>
        
    <p class="numberRating">@Model.TotalRatings  Bewertungen</p>

    <div class="row">
        <div class="side">
            <div>5 Star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar" style="width: @(Model.RatingDistribution[4])%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[4]</div>
        </div>
        <div class="side">
            <div>4 Star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar" style="width: @(Model.RatingDistribution[3])%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[3]</div>
        </div>
        <div class="side">
            <div>3 Star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar" style="width: @(Model.RatingDistribution[2])%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[2]</div>
        </div>
        <div class="side">
            <div>2 Star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar" style="width: @(Model.RatingDistribution[1])%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[1]</div>
        </div>
        <div class="side">
            <div>1 Star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar" style="width: @(Model.RatingDistribution[0])%;"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[0]</div>
        </div>
    </div>
    <hr />
    @if (Model.Authorized && !Model.UserAlreadyReviewed) {
        <div id="ratingAuthOnly">
            <div class="rating">
                <span class="rating__res"></span>
                <i class="rating-userstar editable-star checked" id="star1"></i>
                <i class="rating-userstar editable-star" id="star2"></i>
                <i class="rating-userstar editable-star" id="star3"></i>
                <i class="rating-userstar editable-star" id="star4"></i>
                <i class="rating-userstar editable-star" id="star5"></i>
            </div>

            <script src="~/js/ratingFunctionality.js"></script>
            <form onsubmit="event.preventDefault(); return addReview('@Url.Action("RatingAction", "Home")')">
                <textarea id="commentArea" rows="5" placeholder="Kommentar..." required="required" style="width:100%;"></textarea><br/>
                <input type="submit" class="rating submit" value="Kommentieren"/>
            </form>
            <hr />
        </div>
    }
    <div id ="reviewList">
    </div>

    <form class="pageswitch" method="get">
        <input name="page" id="page" type="hidden" value=""/>
        <input id="prevPageBtn" class="pageswitch" onclick="switchPage(-1)" type="button" value="< Zur&uuml;ck" />
        &nbsp;
        <input id="nextPageBtn" class="pageswitch" onclick="switchPage(1)" type="button" value="Weiter >" />
    </form>
    <p id="pageDisplay">Seite 1 von </p>

    <script>let apiUrl="@Url.Action("GetRatingListView", "Api")"</script>
    <script src="~/js/reviewList.js"></script>
</section>

