@{
    ViewData["Title"] = "Rating";
}
<section id ="rating">
    <br />
    <span class="heading">Kunden Bewertung</span>
        
    <p class="numberRating">@Model.TotalRatings  Bewertungen</p>

    <div class="row">
        <div class="side">
            <div>5 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar bar-@Model.RatingDistribution[4]"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[4]</div>
        </div>
        <div class="side">
            <div>4 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar bar-@Model.RatingDistribution[3]"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[3]</div>
        </div>
        <div class="side">
            <div>3 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar bar-@Model.RatingDistribution[2]"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[2]</div>
        </div>
        <div class="side">
            <div>2 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar bar-@Model.RatingDistribution[1]"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[1]</div>
        </div>
        <div class="side">
            <div>1 star</div>
        </div>
        <div class="middle">
            <div class="bar-container">
                <div class="ratingbar bar-@Model.RatingDistribution[0]"></div>
            </div>
        </div>
        <div class="side right">
            <div>@Model.RatingCounts[0]</div>
        </div>
    </div>
    <hr />
    @if (Model.Authorized && !Model.UserAlreadyReviewed) {
        <div class="rating">
            <span class="rating__res"></span>
            <i class="rating-userstar checked" id="star1"></i>
            <i class="rating-userstar" id="star2"></i>
            <i class="rating-userstar" id="star3"></i>
            <i class="rating-userstar" id="star4"></i>
            <i class="rating-userstar" id="star5"></i>
        </div>
        <script>
        function addReview(url) {
            $.ajax({
		        url: url,
		        dataType: 'html',
		        method: 'POST',
		        data: {
                    Comment: $('#commentArea').val(),
                    Stars: currentRating
		        },
		        success: (res) => {
			        $('#commentArea').html('');
                    getRatingList();
		        },
		        error: (err) => {
			        console.log(err);
		        }
	        });

            // Don't submit the form
            return false;
        }
        </script>
        <form onsubmit="addReview('@Url.Action("RatingAction", "Home")')">
            <textarea name="commentArea" id="commentArea" rows="5" placeholder="Kommentar..." required="required" style="width:100%;"></textarea><br/>
            <input type="submit"/>
        </form>
        <hr />
    }
    <div id ="reviewList">
    </div>
    <script>let apiUrl="@Url.Action("GetRatingListView", "Api")"</script>
    <script src="~/js/reviewList.js"></script>
</section>

<script>
    const ratingStars = [...document.getElementsByClassName("rating-userstar")];
    const ratingResult = document.querySelector(".rating__res");
    printRatingResult(ratingResult);
    var currentRating = 1;
    function executeRating(stars, result) {
       let starClassActive = "rating-userstar checked";
       let starClassUnactive = "rating-userstar";
       let i;
       let m;
       stars.map((star) => {
          star.onclick = () => {
            m ==  m+1;
            i = stars.indexOf(star);
            for(s of stars) {
                s.className = starClassUnactive;
            }
            printRatingResult(result, i + 1);
            for (i; i >= 0; --i) { 
                stars[i].className = starClassActive;
            }
          };
       });
    }
    function printRatingResult(result, num = 1) {
       result.textContent = `${num}/5`;
       currentRating = num;
    }
    executeRating(ratingStars, ratingResult);
</script>