<!DOCTYPE html>
<html lang="de-de">
	<head>
		<meta charset="UTF-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>@ViewData["Title"]</title>
		<link rel="icon" type="image/x-icon" href="~/images/icon.png"/>
		<link rel="stylesheet" href="~/css/style.css" />
		<script src="https://code.jquery.com/jquery-3.5.0.js" ></script>
		<script>
			$(document).ready(function() {
				$(".menubutton").click(function() {
					$("nav").toggleClass("navactive");
				});
			});
		</script>
	</head>
	
	<body>
		<div class="wrapper">
			<section id="menubar">
				<div>
					<div class="menubuttoncontainer">
						<ul>
							<li>
								<a class="menubutton" href="#menu">
									<img class="img-menu-button" src="~/images/menu.png" alt="menu-button"/>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
            <div>
                <header> <h1>&nbsp;</h1> </header>

                <nav class="nav">
                    <div class="nav_left">
                        <ul>
                            <li class="@(ViewData["Title"].ToString() == "Home" ? "active" : "")"><a href="/">Home</a></li>
                            <li class="@(ViewData["Title"].ToString() == "Fahrzeuge" ? "active" : "")"><a href="/overview">Fahrzeugübersicht</a></li>
                            <li class="@(ViewData["Title"].ToString() == "Bewertung" ? "active" : "")"><a href="/rating">Bewertung</a></li>
                            <li class="@(ViewData["Title"].ToString() == "Kontakt" ? "active" : "")"><a href="/contact">Kontakt</a></li>
                        </ul>
                    </div>
                    <div class="login">
                        <ul class="@(Model.Authorized ? "" : "unauth")">
                            @if (Model.Authorized) {
                                <li class="profile-field">
                                    <div class="prof-menu">
                                        <div>
                                            <p class="user-menu-display">@Model.UserName</p>
                                        </div>
                                        <ul>
                                            <li>
                                                <a href="/profile">Profil</a>
                                            </li>
                                            <li>
                                                <a href="/logoutaction">Logout</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            } else {
                                <li class="login-field"><a href="/login">Login</a></li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
		
			<section class="main">
				@RenderBody()
			</section>
		</div>
		<footer>
			<ul>
				<li class="mail"><img src="~/images/icons/mail.svg" alt="mail-icon"/><a href="/contact">Kontakt</a></li>
				<li class="tell"><img src="~/images/icons/phone.svg" alt="phone-icon"/><a href="tel:+4987113562165">+49 871 1356 2165</a></li>
				<li class="instagram"><img src="~/images/icons/instagram.svg" alt="instagram-icon"/><a href="https://www.instagram.com/carutilitymanagement/" target="_blank">Instagram</a></li>
				<li class="youtube"><img src="~/images/icons/youtube.svg" alt="youtube-icon"/><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">YouTube</a></li>
			</ul>
			<ul>
				<li><a href="/partner">Unsere Partner</a></li>
				<li><a href="/karriere">Karriere bei uns!</a></li>
				<li style="color: #202020">75 69 75 87</li>
				<li style="color: #202020">I like trains</li>
				<li>&copy; Copyright @DateTime.Now.Year</li>
			</ul>
			<ul>
				<li><a href="/impressum">Impressum</a></li>
				<li><a href="/datenschutz">Datenschutz</a></li>
				<li><a href="/agb">AGBs</a></li>
			</ul>
		</footer>
	</body>
</html>
