@model List<Vehicle>
@foreach (var veh in Model) {
    <div class="child">
        <div class="container fahrzeuginfo">
            <div class="attributes">
                <div class="container row">
                    <div class="carattribute">
                        <mark class="tabellenueberschrift">Anbieter</mark> <br> @veh.Firm
                    </div>
                    <div class="carattribute">
                        <mark class="tabellenueberschrift">Kategorie</mark> <br> @veh.GetCategoryAsString()
                    </div>
                </div>
                <div class="container row">
                    <div class="carattribute">
                        <mark class="tabellenueberschrift">Marke</mark> <br> @veh.Brand
                    </div>
                    <div class="carattribute">
                        <mark class="tabellenueberschrift">Modell</mark> <br> @veh.Model
                    </div>
                    <div class="carattribute">
                        <mark class="tabellenueberschrift">Grundpreis</mark> <br> @String.Format("{0:0.00}", veh.BasicPrice) &euro;
                    </div>
                </div>
            </div>
            <img src="@veh.PathToImg" alt="image of vehicle" width="120" height="120" />
            <div class="break"></div>
            <a class="sendbutton" href="/booking/@veh.VehicleId">Zur Buchung</a>
        </div>
    </div>
}

<script>
    dataPage = @ViewData["CurrentPage"].ToString();
    dataMaxPage = @ViewData["MaxPage"].ToString();
</script>